@model IEnumerable<TeduShop.Web.Models.SlideViewModel>
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            @foreach (var slide in Model)
            {
                <li>
                    <img src="@slide.Image" class="img-responsive" alt="@slide.Name" />
                    <div class="banner_desc">
                        @Html.Raw(slide.Content)
                    </div>
                </li>
            }
            
        </ul>
    </div>
</div>
