<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="as:clientAllowedOrigin" value="true"/>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="9" />
  <add key="MaxPage" value="5" />
  <add key="ReportFolder" value="/Reports"/>
  <add key="CurrentLink" value="http://localhost:5000/"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="leluc2761995@gmail.com"/>
  <add key="FromEmailPassword" value="Lucian99"/>
  <add key="FromName" value="OnlineHubt"/>
  <add key="AdminEmail" value="leluc276@gmail.com"/>
</appSettings>